:root{
    --primary-theme: white;
    --secondary-theme:#49F241;
    --dark-green-theme:#68B159;
    --green-theme:#408E2F;
    --light-green-theme:#9AD58E;
}
body {
    margin: 0;
    min-height: 100vh;
}
.bg-primary-color{
    background-color: var(--primary-theme);
}

text-primary-theme{
    color:var(--primary-theme);
}


.bg-secondary-theme{
    background-color: var(--secondary-theme);
}

.text-secondary-theme{
    background-color: var(--secondary-theme);
}

.border-secondary-theme{
    border-color: var(--secondary-theme);
}

.bg-lg-green{
    background-color: var(--light-green-theme);
}

.bg-green{
    background-color: var(--green-theme);
}

.bg-dark-green{
    background-color: var(--dark-green-theme);
}

.accordion-button:not(.collapsed){
    background-color: var(--light-green-theme);
    color: black;
}

.accordion-button:is(.collapsed){
    background-color: var(--green-theme);
}

.accordion-item{
    border-color:#68B159 ;
}

a.nav-link{
    text-decoration: underline #9AD58E;
}

nav{
    border-bottom: darkgrey  solid 2px;
    z-index: 1;
}

.form-check-input:checked{
    background-color: var(--dark-green-theme);
}