<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Ajout de Golf</title>
    <div th:replace="fragments :: scriptHead "></div>
</head>
<body class="theme">
<div th:replace="fragments :: navbar"></div>
<div class="container">

    <div class="d-flex flex-column align-items-center">
        <h1>Formulaire Création d'un tour</h1>

        <form class="col-lg-6 d-flex flex-column" th:action="@{/Arbitre/handleAddRound}"
              enctype="multipart/form-data"
              th:object="${roundDTO}" method="post" >

            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{idTournament}">

            <label for="inputDate">Date du round :</label>
            <input type="date" id="inputDate" class="form-control my-2"   th:field="*{date}" >

            <label>Fichier CSV :</label>
            <input type="file" class="form-control" th:field="*{file}">

            <table>
                <theader>
                    <tr>
                        <th>Numero trou</th>
                        <th>Temps de marche</th>

                    </tr>
                </theader>
                <tbody>
                <tr th:each="attunement,itemStat: ${roundDTO.attunements}">
                    <input  type="hidden" th:field="*{attunements[__${itemStat.index}__].id}">
                    <input  type="hidden" th:field="*{attunements[__${itemStat.index}__].hole}">
                    <td th:text="*{attunements[__${itemStat.index}__].getHole().getNum()}"></td>
                    <td><input th:field="*{attunements[__${itemStat.index}__].extraTime}"  class="form-control" type="number" ></td>


                </tr>
                </tbody>
            </table>

            <button class="btn my-3  justify-self-center btn-secondary">Envoyer</button>
        </form>


    </div>
</div>

<div th:replace="fragments ::footer"></div>
</body>
</html>