<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Ajout de Golf</title>
    <div th:replace="fragments :: scriptHead "></div>
</head>
<body class="theme">
<div th:replace="fragments :: navbar"></div>
<div class="container">

    <div class="d-flex flex-column align-items-center">
        <h1>Formulaire Création de golf</h1>
    <form class="col-lg-6 d-flex flex-column" th:action="@{/Arbitre/handleAjoutGolf}" th:object="${golfDTO}" method="post" >
        <label class="fw-bolder" for="inputName">Nom du Golf :</label>
        <input type="text" id="inputName" class="form-control my-2" minlength="3" th:field="*{name}" required >

        <label class="fw-bolder" for="inputGPS">Coordonées GPS :</label>
        <input type="text" id="inputGPS" class="form-control my-2" minlength="6" th:field="*{coorGPS}" >

        <button class="btn my-3  justify-self-center btn-secondary">Envoyer</button>
    </form>
        <!--<div th:each="i : ${#numbers.sequence( 1, 18,1)}"}>
            <div th:text="${i}"></div>
        </div>-->
    </div>
</div>
<!--<input th:field="*{books[__${itemStat.index}__].title}" />-->
<div th:replace="fragments ::footer"></div>
</body>
</html>