<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de création de parcours</title>
    <div th:replace="fragments :: scriptHead "></div>
</head>
<body class="theme">
<div th:replace="fragments :: navbar"></div>
<div class="container">

    <div class="d-flex flex-column align-items-center">
        <h1>Formulaire de création de parcours</h1>
    <form class="col-lg-6"
          th:action="@{/Arbitre/handleAddForm}"
          th:object="${formCourse}"
          method="post">
        <input id="inputId" class="form-control" th:field="*{id}" type="hidden"  readonly required>
        <input id="inputIdGolf" class="form-control" th:field="*{golfId}" type="hidden" readonly required>
        <label for="inputName">Nom du parcours :</label>
        <input id="inputName" class="form-control" th:field="*{name}"  type="text" minlength="2" required>

        <table>
            <theader>
                <tr>
                    <th>Numero</th>
                    <th>Nom</th>
                    <th>Par</th>
                    <th>Temps</th>
                </tr></theader>
            <tbody>
            <tr th:each="trou,itemStat: ${formCourse.holes}">

                <td><input th:field="*{holes[__${itemStat.index}__].num}"  class="form-control" type="text" readonly></td>
                <td><input th:field="*{holes[__${itemStat.index}__].name}" class="form-control" type="text"></td>
                <td><input th:field="*{holes[__${itemStat.index}__].par}" class="form-control" type="number"></td>
                <td><input   class="form-control" type="number"></td>
            </tr>
            </tbody>
        </table>

        <button class="btn btn-secondary">Envoyer</button>
    </form>
    </div>
</div>

<div th:replace="fragments ::footer"></div>
<script th:src="@{/js/verifForm.js}"></script>
</body>
</html>