<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:fragment="scriptHead">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/bootstrap5/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <!--href="bootstrap5/css/bootstrap.css-->
        <script th:src="@{/bootstrap5/js/bootstrap.bundle.js}"></script>
        <script defer th:src="@{/js/script.js}"></script>
    </div>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand " th:href="@{/}">GolfWebApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex justify-content-around">
                <li class="nav-item mx-3">
                    <a class="nav-link active fs-4" aria-current="page" th:href="@{/}">Accueil</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link fs-4" th:href="@{/Arbitre/lesGolfs}">Les Golfs</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link fs-4" th:href="@{/Admin/Inscription}">Inscription</a>
                </li>
                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle fs-4" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-3">
                    <a id="" class="nav-link" href="#">
                    <div class="form-check form-switch d-flex align-items-center">
                        <input class="form-check-input " type="checkbox" id="theme">
                        <label class="form-check-label fs-4 mx-1" for="theme">Thème</label>
                    </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer class="text-center theme" th:fragment="footer">
    <!-- Grid container -->
    <div class="container pt-4">

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="" th:href="@{/}">GolfWebbApp</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>