<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments :: scriptHead "></div>
</head>
<body class="theme">
<div th:replace="fragments :: navbar"></div>
<div class="container theme ">
    <h1>Les Golfs</h1>
    <a class="btn btn-secondary m-2" th:href="@{/Arbritre/formAddGolf}">Ajouter un Golf</a>
    <div class="accordion"  id="accordionExample" >
        <div class="accordion-item my-4" th:each="unGolf: ${lesGolfs2}">

            <div >
                <h2 class="accordion-header"  >
                    <button th:text="${unGolf.name}" class="accordion-button fs-2 collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse'+${unGolf.id}" aria-expanded="false" aria-controls="collapseOne">
                    </button>
                </h2>
                <div class="theme">
                    <a class="btn btn-secondary m-2" th:href="@{/Abritre/formUpdateGolf/{idGolf}(idGolf = ${unGolf.getId()})}">Modifier le Golf</a>
                    <a class="btn btn-secondary m-2" th:href="@{/}">Supprimer le Golf</a>
                    <a class="btn btn-secondary m-2" th:href="@{/Arbitre/formAddCourse/{idGolf}(idGolf=${unGolf.id})}">Ajouter un Parcours</a>
                </div>
            </div>

            <div  th:id="'collapse'+${unGolf.id}" class="accordion-collapse collapse theme" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body" >
                    <div th:each="unParcours: ${unGolf.courses}">

                        <div >
                            <h3 class="theme" th:text="${unParcours.name}"></h3>
                            <a class="btn btn-secondary m-2" th:href="@{/Arbitre/formUpdateCourse/{idCourse}(idCourse= ${unParcours.id})}">Modifier le Parcours</a>
                            <a class="btn btn-secondary m-2" th:href="@{/}">Supprimer le Parcours</a>
                            <a class="btn btn-secondary m-2" th:href="@{/Arbitre/formAddTourney/{idCourse}(idCourse= ${unParcours.id})}">Ajouter un tournois</a>
                            <div th:each="unTournois: ${unParcours.getTournaments()}">
                                <a th:href="@{/Arbitre/lesTours/{idTournois}(idTournois=${unTournois.id})}"> <h4 class="theme" th:text="${unTournois.name}"> </h4></a>
                                <a class="btn btn-secondary m-2" th:href="@{/}">Ajouter un tour</a>
                                <a class="btn btn-secondary m-2" th:href="@{/Arbitre/formUpdateTourney/{idTournois}(idTournois=${unTournois.id})}">Modifier le tournois</a>
                                <a class="btn btn-secondary m-2" th:href="@{/}">Supprimer le tournois</a>
                                <a class="btn btn-secondary m-2" th:href="@{/Arbitre/lesTours/{idTournois}(idTournois=${unTournois.id})}">Consulter les tours</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
<div th:replace="fragments ::footer"></div>
</body>
</html>