<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Ajout de Golf</title>
    <div th:replace="fragments :: scriptHead "></div>
</head>
<body class="theme">
<div th:replace="fragments :: navbar"></div>
<div class="container">

    <div class="d-flex flex-column align-items-center">
        <h1 th:text="${tournois.name}"></h1>
        <div th:text="'Golf :'+${tournois.getCourse().getGolf().name}+' Parcours : '+${tournois.getCourse().name} "></div>
        <br>
        <a class="btn btn-secondary" th:href="@{/Arbitre/formAddRound/{idTournois}(idTournois=${tournois.getId()})}">Ajouter tour</a>

        <div class="row my-2" th:each="round:${tournois.rounds}">
            <button class="btn btn-secondary ">Modifier tour</button>
            <button class="btn btn-secondary">Supprimer tour</button>
        </div>

    </div>
</div>

<div th:replace="fragments ::footer"></div>
</body>
</html>